.container {
   background-color: rgb(255, 255, 255); 
   border-color: black;
   border-style: solid;
   display: grid;
   height: 30em;
   width: 30em;
   margin-left: auto;
   margin-right:auto;
   grid-template-columns: repeat(16, 6.25%);

   
}

.cells {
   background-color: rgb(255, 255, 255);
}

.buttonAlign {
   display: flex;
   justify-content: center;

}
button {
   
   margin-top: 250px;
   font-size: larger;
   margin-bottom: 20px;
}

